<div class = setting_head><!-- とりあえず-->
    <h1 class ="Mypage_text">  設定</h1>
    <%= link_to image_tag('/images/ギア1.jpg' , class:"gear" ,:width => '60', :height => '60' ), profile_path  %>
</div>
<h1>利用者情報</h1>

<p>メールアドレス:<%=current_user.email %></p>
<p><%= link_to 'ログアウト', logout_path, method: :delete %></p>
<p><%= link_to '登録解除', unsubscribe_path, method: :delete, data: { confirm: '本当に登録解除しますか？' } %></p>

<p><%= current_user.name %></p>
