<%= link_to image_tag('/images/mailbox.png' , class:"home" ,:width => '100', :height => '60' ), room_entries_path  %>

<div class = Mypage><!-- とりあえず-->
  <h1 class ="Mypage_text">ホーム</h1>
  <div class="  text-center ">
        <%= link_to 'マイページ', home_mypage_path , {class: "btn btn_mypage rounded-pill  "}%>
  </div>
</div>

<div class="row ">
  <div class="col-md-6 border">
    <div class="student_member">
      <p>自分の部屋</p>
      <% @rooms.each do |room| %>
        <% if room.user_id == current_user.id %>
          <table>
            <tr>
              <td>
                <%= image_tag(url_for(image_of_usericon_path(room.user.id)), class: "rounded-circle",:width => '20', :height => '20' )%>
              </td>
              <td>
                <%= room.user.name %>
              </td>
              <td>
                <%= link_to room_path(room.id) do %>
                  <%= room.room_name %>
                <% end %>
              </td>
              <td>
                <% chat = Chat.find_by(id: room.chat_ids.last) %>
                <% if chat.nil? %>
                  <span>投稿なし</span>
                <% else %>
                  <%= truncate(chat.message, lingth: 10) %>
                <% end %>
              </td>
              <td>
            </tr>
          </table>
        <% end %>
      <% end %>

      <br>

      <p>他の人の部屋</p>
      <% @rooms.each do |room| %>
        <% if room.user_id != current_user.id %>
          <table>
            <tr>
              <td>
                <%= image_tag(url_for(image_of_usericon_path(room.user.id)), class: "rounded-circle",:width => '20', :height => '20' )%>
              </td>
              <td>
                <%= room.user.name %>
              </td>
              <td>
                <%= link_to room_path(room.id) do %>
                  <%= room.room_name %>
                <% end %>
              </td>
              <td>
                <% chat = Chat.find_by(id: room.chat_ids.last) %>
                <% if chat.nil? %>
                  <span>投稿なし</span>
                <% else %>
                  <%= truncate(chat.message, lingth: 10) %>
                <% end %>
              </td>
              <td>
            </tr>
          </table>
        <% end %>
      <% end %>
    </div>
  </div>
  
  <div class="col-md-6 border ">

    <div class="row home_size">
      <div class="col-md-12  text-center ">
        <%= link_to '教える', room_categories_path ,{class: "btn btn_teacher "}%><!-- -->
      </div>
    </div>

    <div class="row home_size">
      <div class="col-md-12  text-center ">
        <%= link_to '教えてもらう', new_room_path ,{class: "btn btn_student"}%><!-- -->
      </div>
    </div>


  </div>
</div>
