


<div class = Mypage><!-- とりあえず-->
    <h1 class ="Mypage_text">マイページ</h1>
    <div class="gear_center">
        <%= link_to image_tag('/images/gear.png' , class:"gear" ,:width => '70', :height => '70' ), home_mypage_setting_path ,{class:"gear_back"} %>
    </div>
</div>
        <div class="row ">
            
            <div class="col-md-6 border">
                <div class="row">
                    <div class="col-md-12 border text-center">
                        <div class="icon_box">
                            <%= image_tag(url_for(image_of_usericon_path(current_user.id)), class: "rounded-circle border",:width => '350', :height => '350' )%>
                            <h1 class="name"><%= current_user.name %></h1><!--(<%= current_user.id %>)-->
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 border text-center">
                        <%= link_to 'チャット', rooms_path , {class: "btn btn--chat"}%>
                    </div>
                </div>
            </div>
            
            
            <div class="col-md-6 border">
                <div class="row">
                    <div class="col-md-12 border text-center">
                        <div class="point_box">
                        
                            <p class ="point"><%= current_user.point %></p>
                            <div class="have_point">
                                <h2>所有ポイント</h2>
                            </div>
                            <h3><%= current_user.student_member %>人に教えました！！</h3>
                            <h3><%= current_user.teacher_member %>人に教わりました！！</h3>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 border text-center">
                        <%= link_to 'ランキング', home_rank_path , {class: "btn btn--ranking"}%>
                    </div>
                </div>
            </div>
            
        </div>
        <div class="root_home">
            <%= link_to image_tag('/images/home.jpg' , class:"home" ,:width => '100', :height => '100' ), home_index_path  %>
        </div>
    </div>
      
