<div class ="Mypage" style = "background-color: #ffa115;">
  <h2>ランキング</h2>
  <h2>自分の所有ポイント:<%= current_user.point %></h2>
  
</div>
<h1></h1>
<br>
<% rank_num = 1 %>
<% rank_id = "" %>
<% users = User.all.order(point: "DESC") %>
<% users.each do |user|%>
  <%
    if rank_num == 1
      rank_id = "no1"
    elsif rank_num == 2
      rank_id = "no2"
    elsif rank_num == 3
      rank_id = "no3"
    end
    puts "#{rank_id}*********************************************************"
  %>
  <div id="<%=rank_id%>">
    <%= rank_num %>
    <%= user.name %>: 
    <%= user.point %> p
    <% rank_num += 1 %>
    <h1></h1>
  </div>
  <br>
  <% rank_id = "" %>
<%end %>
  <%= link_to '戻る', home_mypage_path ,{class: "btn btn_look "}%> 
  <%= link_to 'ホーム', home_index_path ,{class: "btn btn_look1 "}%> 


<style>
  #no1 {
    color: gold;
    font-size: 3.5vw;
  }
  #no2 {
    color: silver;
    font-size: 2vw;
  }
  #no3 {
    color: #ac6b25;
    font-size: 1.5vw;
  }
</style>