<p class="<%= chat.id %>" style= "margino-top: 0;">
<%= image_tag(url_for(image_of_usericon_path(chat.user.id)), class: "rounded-circle",:width => '20', :height => '20' )%>
  <%= chat.user.name %>
</p>
<p class="<%= chat.id %>">
  <span class="balloon">
    <h7 class="chat_message"><%= chat.message %></h7><br>
    <h7 style="color: #C0C0C0;"><%= chat.created_at.strftime("%Y/%m/%d %H:%M") %></h7>
  </span>
</p>

<br>

<!-- メッセージの表示位置を指定する-->
<script>
    //メッセージのユーザーidを取ってくる
        var chat = <%= chat.user.id %>;
    //id="current_user"の内容を取得
        var chat_user = document.getElementById('current_user');
    //chat_userのdate-user_idを取得する
        var current_user = chat_user.getAttribute('data-user_id')
    //chat_userがログインユーザーであれば右に表示する
        if(chat == current_user){
            $('p.' + <%= chat.id %>).css('text-align', 'right');
            $('p.' + <%= chat.id %> + ' .balloon').addClass('balloon-right');
        }else{
            $('p.' + <%= chat.id %>).css('text-align', 'left');
            $('p.' + <%= chat.id %> + ' .balloon').addClass('balloon-left');
        }
        var element = document.getElementById('test');//移動させたい位置の要素を取得
    element.scrollIntoView();
</script>
