<p id="notice"><%= notice %></p>

<h1>Cahts</h1>

<table>
  <thead>
    <tr>
      <th>Message</th>
      <th>Attachment</th>
      <th>User</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @cahts.each do |caht| %>
      <tr>
        <td><%= caht.message %></td>
        <td><%= caht.attachment %></td>
        <td><%= caht.user_id %></td>
        <td><%= link_to 'Show', caht %></td>
        <td><%= link_to 'Edit', edit_caht_path(caht) %></td>
        <td><%= link_to 'Destroy', caht, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Caht', new_caht_path %>
