<p id="notice"><%= notice %></p>

<h1>マイページ</h1>

<table>
  <thead>
    <tr>
      <th>ユーザID</th>
      <th>部屋ID</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @user_rooms.each do |user_room| %>
      <tr>
        <td><%= user_room.user_id %></td>
        <td><%= user_room.room_id %></td>
        <td><%= link_to '公開', user_room %></td>
        <td><%= link_to '編集', edit_user_room_path(user_room) %></td>
        <td><%= link_to '削除', user_room, method: :delete, data: { confirm: '本当に削除しますか?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New User Room', new_user_room_path %>
