<div>
  <% @anotherUserRooms.each do |userroom| %>
    <table class="table table-striped">
      <tr>
        <td>
          <%= link_to room_path(userroom.room.id) do %>
            <%= userroom.user.name %>
          <% end %>
        </td>
        <td>
          <% chat = Chat.find_by(id: userroom.room.chat_ids.last) %>
          <% if chat.nil? %>
            <span>投稿なし</span>
          <% else %>
            <%= truncate(chat.message, lingth: 10) %>
          <% end %>
        </td>
        <td>
          <h6 style="color: #C0C0C0;"><%= userroom.updated_at.strftime("%Y/%m/%d %H:%M") %>
        </td>
        <td>
          <%= link_to room_path(userroom.room.id), method: :delete do %>
            削除
          <% end %>
        </td>
      </tr>
    </table>
  <% end %>
</div>