<div>
  <% @anotherUserRooms.each do |userroom| %>
    <table class="table table-striped">
      <tr>
        <td>
          <%= link_to room_path(userroom.room.id) do %>
            <%= userroom.user.name %>
          <% end %>
        </td>
        <td>
          <%= userroom.room.room_name %>
        </td>
        <td>
          <% chat = Chat.find_by(id: userroom.room.chat_ids.last) %>
          <% if chat.nil? %>
            <span>投稿なし</span>
          <% else %>
            <%= truncate(chat.message, lingth: 10) %>
          <% end %>
        </td>
        <td>
          <h6 style="color: #C0C0C0;"><%= userroom.updated_at.strftime("%Y/%m/%d %H:%M") %>
        </td>
        <td>
          <%= link_to room_path(userroom.room.id), method: :delete do %>
            削除
          <% end %>
        </td>
      </tr>
    </table>
  <% end %>

  <br>
  <p>メンバーのいない部屋</p>
  <% @rooms.each do |room| %>
    <% userroom = UserRoom.find_by(:room_id => room.id) %>
    <% if userroom == nil %>
      <table class="table table-striped">
          <tr>
            <td>
              <%= link_to room_path(room.id) do %>
                <%= room.room_name %>
              <% end %>
            </td>
            <td>
            <%= room.room_category.category_name %>
            </td>
            <td>
              <p>メンバーがいません</p>
            </td>
            <td>
              <%= link_to room_path(room.id), method: :delete do %>
                削除
              <% end %>
            </td>
        </tr>
      </table>
    <% end %>
  <% end %>

  <%= link_to 'ホーム', home_index_path %><br>
  <%= link_to '部屋追加', new_room_path %>
</div>