<p id="notice"><%= notice %></p>

<p>
  <strong>部屋名:</strong>
  <%= @room.room_name %>
</p>

<p>
  <strong>カテゴリID:</strong>
  <%= @room.room_category %>
</p>

<p>
  <strong>ユーザID:</strong>
  <%= @room.user_id %>
</p>

<%= link_to '編集', edit_room_path(@room) %> |
<%= link_to '戻れ', rooms_path %>
