<p id="notice"><%= notice %></p>

<h1>資格・各教科の部屋</h1>

<table>
  <thead>
    <tr>
      <th>カテゴリ名</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @room_categories.each do |room_category| %>
      <tr>
        <td><%= room_category.category_name %></td>
        <td><%= link_to '公開', room_category %></td>
        <td><%= link_to '編集', edit_room_category_path(room_category) %></td>
        <td><%= link_to '削除', room_category, method: :delete, data: { confirm: '本当に削除しますか？' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Room Category', new_room_category_path %>
