<p id="notice"><%= notice %></p>

<p>
  <strong><%= @room_category.category_name %></strong>
</p>
  <div class="room_scroll" >
    <% @rooms.each do |room| %>
      <% unless room.user.id == current_user.id %>
        <%= link_to(new_room_entry_path(:room_id => room.id), class: "list-design") do %>
            <div class='btn btn-light show' id=<%= "room_#{room.id}"%>>
              <p class='element1'><%= image_tag(url_for(image_of_usericon_path(current_user.id)),:width => '50', :height => '50' )%></td>
              <p class='element2'><%= room.user.name %></p>
              <p class='element3'><%= room.room_name %></p>
            </div>
        <% end %>
        <script>
        $('#<%= "room_#{room.id}"%>').hover(function () {
            $("[id^=room_comment_]").css('display', 'none')
          $('#<%= "room_comment_#{room.id}"%>').css('display', 'block');
          });
        </script>
      <% end %>
    <% end %>
  </div>

<br>

<!--
<% @rooms.each do |room| %>
      <% unless room.user.id == current_user.id %>
          <div class='btn btn-light show1' id=<%= "room_comment_#{room.id}"%>>
            <p class='element4'><%= room.comment %></p>
          </div>
      <% end %>
<% end %>
-->
<% @rooms.each do |room| %>
  <% unless room.user.id == current_user.id %>
      <div class='btn btn-light show1' id=<%= "room_comment_#{room.id}"%>>
        <p class='element4'><%= room.comment %></p>
        <p class='member' style="color: blue;"><%= room.user.name %></p>
        <% @user_rooms = UserRoom.where(id: room.id) %>
        <% @user_rooms.each do |userroom| %>
        <p class='member' style="color:red;"><%= userroom.user.name %></p>
      <% end %>
      </div>
  <% end %>
<% end %>

<%= link_to 'ホーム', home_index_path %><br>
<%= link_to '部屋追加', new_room_path%><br>
<%= link_to 'Back', room_categories_path %>
