<p id="notice"><%= notice %></p>

<p>
  <strong><%= @room_category.category_name %></strong>
</p>

<table>
  <tbody>
    <% @rooms.each do |room| %>
      <tr class='btn btn-light btnx-indigo-light'>
        <td><%= image_tag(url_for(image_of_usericon_path(current_user.id)),:width => '50', :height => '50' )%></td>
        <td><%= room.room_name %></td>
        <td><%= room.comment %></td>
        <td><%= room.user.name %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'Back', room_categories_path %>
